<div class="container text-center">
    <div class="row mt-5 mb-5">
        <div class="col-md-12 mb-5">
            <h1 class="text-center"><b>Bienvenid@s</b></h1>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>Inicio Sesión</b></h1>
                    <div class="container">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mt-5 mb-5">
                                <div class="mb-5">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control form-control-sm" id="email" formControlName="email"
                                        type="email">
                                </div>
                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control form-control-sm" id="password" formControlName="password"
                                    type="password">
                            </div>
                            <button class="btn btn-success" [disabled]="loginForm.status == 'INVALID'" type="submit">Entrar</button>
                            <button class="btn btn-danger ms-1" type="submit" (click)="register()">
                                <i class="bi bi-person-fill"></i> Registrate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>