<div class="container text-center">
    <div class="row mt-5 mb-5">
        <div class="col-md-12 mb-5">
            <h1 class="text-center"><b>Bienvenid@s</b></h1>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>Inicio Sesion</b></h1>
                    <div class="container">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div class="mt-5 mb-5">
                                <!-- <div class="mb-5">
                                    <label class="form-label" for="usermame">UserName</label>
                                    <input class="form-control form-control-sm" id="username" formControlName="username"
                                        type="text">
                                </div> -->

                                <div class="mb-5">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control form-control-sm" id="email" formControlName="email"
                                        type="email">
                                </div>

                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control form-control-sm" id="password" formControlName="password"
                                    type="password">
                                <!-- <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                                    Password is required and should be at least 6 characters long.
                                  </div>  -->
                            </div>
                            <button class="btn btn-success" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center"><b>Registrate</b></h1>
                    <div class="container">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="mt-5 mb-5">
                                <div class="mb-5">
                                    <label class="form-label" for="usermame">UserName</label>
                                    <input class="form-control form-control-sm" id="username" formControlName="username"
                                        type="text">
                                </div>

                                <div class="mb-5">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control form-control-sm" id="email" formControlName="email"
                                        type="email">
                                </div>

                            </div>
                            <div class="mb-5">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control form-control-sm" id="password" formControlName="password"
                                    type="password">
                                <!-- <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched">
                                    Password is required and should be at least 6 characters long.
                                  </div>  -->
                            </div>
                            <button class="btn btn-success" type="submit">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>