#background{
    background-image: url('../../../assets/desktop-wallpaper-created-a-3d-render-of-a-pokemon-trophy-in-the-grass-pokemon-scenery.jpg');
    background-color: #f5f3f4;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.p-10{
    padding: 15rem;
}