.navbar {
    margin-bottom: 2rem;
  }
  
  .btn-primary {
    background-color: #1a73e8;
    border-color: #1a73e8;
  }
  
  .btn-primary:hover {
    background-color: #1669c1;
    border-color: #1669c1;
  }
  